/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/******Reusable--grid*****/
.grid-4-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

/****************************************/
/************* Media queries  *************/
/****************************************/
@media (max-width: 85em) {
  html {
    font-size: 50%; } }

@media (max-width: 67em) {
  html {
    font-size: 40%; } }

@media (max-width: 43em) {
  html {
    font-size: 30%; } }

@media (max-width: 37em) {
  html {
    font-size: 20%; } }

.landingPage {
  background-image: linear-gradient(to right bottom, rgba(17, 17, 17, 0.715), rgba(133, 133, 133, 0.116)), url(../../images/landing.jpg);
  height: 100vh;
  background-size: cover;
  position: relative;
  overflow: hidden; }
  .landingPage .brandName {
    font-size: 9rem;
    text-transform: uppercase;
    text-align: center;
    color: #E3E3E3;
    letter-spacing: 2rem;
    padding-top: 10rem;
    animation-name: lefttoright;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    backface-visibility: hidden; }
  .landingPage .slogn {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    color: #E3E3E3;
    letter-spacing: 2px;
    animation-name: righttoleft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    backface-visibility: hidden; }
  .landingPage .landingPage__login {
    margin-top: 7rem;
    position: absolute;
    font-size: 1.2rem;
    font-weight: 900;
    color: rgba(17, 17, 17, 0.715);
    left: 50%;
    transform: translate(-50%, -50%); }
    .landingPage .landingPage__login .login_btn {
      transition: all 0.3s;
      color: black; }
      .landingPage .landingPage__login .login_btn:link {
        text-decoration: none;
        background-color: #F4F4F4;
        margin-right: 2rem;
        padding: 1.2rem 2.4rem;
        box-shadow: 0 0 10px #434343;
        display: inline-block; }
      .landingPage .landingPage__login .login_btn:hover {
        transform: translateY(-10px) scale(1.1);
        background-color: black;
        color: white; }

@keyframes lefttoright {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  80% {
    transform: translateX(20px); }
  100% {
    transform: translate(0px);
    opacity: 1; } }

@keyframes righttoleft {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  80% {
    transform: translateX(-20px); }
  100% {
    transform: translate(0px);
    opacity: 1; } }

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/******Reusable--grid*****/
.grid-4-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

/****************************************/
/************* Media queries  *************/
/****************************************/
@media (max-width: 85em) {
  html {
    font-size: 50%; } }

@media (max-width: 67em) {
  html {
    font-size: 40%; } }

@media (max-width: 43em) {
  html {
    font-size: 30%; } }

@media (max-width: 37em) {
  html {
    font-size: 20%; } }

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/******Reusable--grid*****/
.grid-4-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

/****************************************/
/************* Media queries  *************/
/****************************************/
@media (max-width: 85em) {
  html {
    font-size: 50%; } }

@media (max-width: 67em) {
  html {
    font-size: 40%; } }

@media (max-width: 43em) {
  html {
    font-size: 30%; } }

@media (max-width: 37em) {
  html {
    font-size: 20%; } }

.header {
  background-color: #FBFBFB;
  display: flex;
  height: 8rem;
  align-items: center;
  color: #747474;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }
  .header .header__list {
    flex-basis: 25%; }
    .header .header__list i {
      font-size: 3rem;
      color: #0C0C0C;
      margin-left: 2rem;
      margin-top: 1.5rem;
      display: none; }
    .header .header__list ul .list button {
      background-color: transparent;
      border: none;
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: 500;
      margin-right: 2rem; }
    .header .header__list .categoryshow {
      display: block; }
    .header .header__list .dropdown {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 7rem;
      background-color: #FBFBFB;
      left: 6rem; }
      .header .header__list .dropdown button {
        background-color: #FBFBFB;
        border: none;
        margin-bottom: 1rem;
        font-size: 2rem;
        padding: 1rem; }
        .header .header__list .dropdown button:hover {
          color: #E3E3E3; }
    .header .header__list .categorydrop {
      display: none; }
    .header .header__list ul {
      display: flex;
      list-style: none; }
      .header .header__list ul li a {
        color: #0C0C0C; }
        .header .header__list ul li a:link {
          margin-right: 2.3rem;
          text-transform: uppercase;
          font-size: 1.6rem;
          font-weight: 500;
          text-decoration: none; }
        .header .header__list ul li a:hover {
          color: #858585; }
      .header .header__list ul li:first-child {
        margin-left: 1.8rem; }
  .header .logo {
    color: #0C0C0C;
    flex-basis: 50%;
    text-align: center;
    font-size: 4.3rem;
    text-transform: uppercase;
    letter-spacing: 2rem;
    font-weight: 800; }
  .header .Header_right {
    flex-basis: 25%;
    text-align: center;
    display: flex; }
    .header .Header_right .searchicon {
      font-size: 2rem;
      color: #858585;
      padding-right: 1rem;
      background-color: white; }
    .header .Header_right input {
      border: none; }
    .header .Header_right .carticon {
      font-size: 2rem;
      color: #858585;
      padding-left: 8rem; }
      .header .Header_right .carticon a {
        color: black;
        position: relative; }
    .header .Header_right .Wishlisticon {
      font-size: 2rem;
      color: #858585;
      padding-left: 2rem; }
      .header .Header_right .Wishlisticon a {
        color: black;
        position: relative; }

@media (max-width: 60em) {
  .header .header__list i {
    margin-top: 9rem;
    display: block;
    position: fixed;
    top: -6.5rem; }
  .header .header__list ul {
    display: none;
    background-color: #FBFBFB;
    position: fixed;
    top: 8rem;
    padding: 10rem;
    height: 50vh;
    transform: translate(); }
    .header .header__list ul li {
      margin-bottom: 4rem; }
      .header .header__list ul li a {
        color: #0C0C0C; }
    .header .header__list ul li:first-child {
      margin-left: 0rem; }
  .header .header__list .dropdown {
    margin-left: 30rem;
    margin-top: 20rem; }
  .header .header__list .show {
    display: block; } }

@media (max-width: 52em) {
  .Header_right input {
    display: none; }
  .Header_right .searchicon {
    display: none; } }

.categorydrop {
  display: block; }

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/******Reusable--grid*****/
.grid-4-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

/****************************************/
/************* Media queries  *************/
/****************************************/
@media (max-width: 85em) {
  html {
    font-size: 50%; } }

@media (max-width: 67em) {
  html {
    font-size: 40%; } }

@media (max-width: 43em) {
  html {
    font-size: 30%; } }

@media (max-width: 37em) {
  html {
    font-size: 20%; } }

.hero {
  background-image: linear-gradient(rgba(133, 133, 133, 0.44), rgba(12, 12, 12, 0.693)), url(../../images/hero.jpg);
  background-size: cover;
  height: 84vh;
  color: #FBFBFB;
  width: 100vw; }
  .hero .herocontent {
    max-width: 100rem;
    padding-top: 1%; }
    .hero .herocontent .hero__heading {
      font-size: 15rem;
      margin-left: 5rem;
      text-transform: uppercase;
      letter-spacing: 10px;
      margin-bottom: 3rem;
      padding-top: 10rem;
      animation-name: lefttoright;
      animation-duration: 1.5s;
      animation-timing-function: ease-out;
      backface-visibility: hidden; }
    .hero .herocontent .hero__about {
      font-size: 3rem;
      margin-left: 5.9rem;
      text-transform: uppercase;
      letter-spacing: 10px;
      line-height: 5rem;
      margin-bottom: 4rem;
      font-weight: 500;
      animation-name: righttoleft;
      animation-duration: 1.5s;
      animation-timing-function: ease-out;
      backface-visibility: hidden; }
    .hero .herocontent .hero__primarybtn .primary {
      margin-left: 5rem;
      border: 2px solid #FBFBFB;
      padding: 2rem 4rem;
      background-color: transparent;
      color: #FBFBFB;
      font-size: 2.5rem;
      font-weight: 400;
      transition: all 0.3s;
      animation-name: toptobottom;
      animation-duration: 1.5s;
      animation-timing-function: ease-out;
      backface-visibility: hidden;
      text-decoration: none; }
      .hero .herocontent .hero__primarybtn .primary:hover {
        background-color: #FBFBFB;
        color: black; }

@keyframes lefttoright {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  80% {
    transform: translateX(20px); }
  100% {
    transform: translate(0px);
    opacity: 1; } }

@keyframes righttoleft {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  80% {
    transform: translateX(-20px); }
  100% {
    transform: translate(0px);
    opacity: 1; } }

@keyframes toptobottom {
  0% {
    transform: translateY(-100px);
    opacity: 0; }
  80% {
    transform: translateY(20px); }
  100% {
    transform: translate(0px);
    opacity: 1; } }

@media (max-width: 63em) {
  .hero {
    background-size: cover; } }

@media (max-width: 52em) {
  .hero {
    background-size: cover; } }

@media (max-width: 43em) {
  .hero {
    background-size: cover;
    align-content: center;
    background-position: center; } }

@media (max-width: 37em) {
  .hero {
    background-position: center; }
    .hero .herocontent .hero__heading {
      margin-top: 50%; } }

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/******Reusable--grid*****/
.grid-4-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

/****************************************/
/************* Media queries  *************/
/****************************************/
@media (max-width: 85em) {
  html {
    font-size: 50%; } }

@media (max-width: 67em) {
  html {
    font-size: 40%; } }

@media (max-width: 43em) {
  html {
    font-size: 30%; } }

@media (max-width: 37em) {
  html {
    font-size: 20%; } }

.feature {
  padding-top: 10rem;
  font-size: 3rem;
  color: #858585;
  background-color: #FBFBFB;
  padding-bottom: 8rem; }
  .feature .feature__card {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .feature .feature__card .feature__icon {
      margin-bottom: 2rem; }
    .feature .feature__card .feature__desc {
      font-size: 2rem;
      color: #2B2B2B;
      text-transform: uppercase;
      font-weight: 600; }

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/******Reusable--grid*****/
.grid-4-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

/****************************************/
/************* Media queries  *************/
/****************************************/
@media (max-width: 85em) {
  html {
    font-size: 50%; } }

@media (max-width: 67em) {
  html {
    font-size: 40%; } }

@media (max-width: 43em) {
  html {
    font-size: 30%; } }

@media (max-width: 37em) {
  html {
    font-size: 20%; } }

.gendercard {
  background-color: #0C0C0C;
  color: #FBFBFB;
  text-transform: uppercase;
  padding-top: 7rem;
  margin-bottom: 15rem; }
  .gendercard .about {
    margin-left: 16rem;
    margin-bottom: 6rem;
    font-size: 4rem;
    letter-spacing: 2px;
    border-bottom: 2px solid #FBFBFB;
    display: inline-block; }
  .gendercard .mail__card {
    background-image: linear-gradient(rgba(17, 17, 17, 0.715), rgba(133, 133, 133, 0.116)), url("../../images/mailcard.jpg");
    background-size: cover;
    height: 40vh;
    color: #0C0C0C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4rem; }
    .gendercard .mail__card .mail__card___btn {
      background-color: transparent;
      border: 2px solid #FBFBFB;
      padding: 1.2rem 2rem;
      color: #FBFBFB;
      font-size: 2rem;
      font-weight: 600;
      display: inline-block;
      transition: all 0.3s; }
      .gendercard .mail__card .mail__card___btn:hover {
        background-color: #0C0C0C;
        transform: scale(1.3); }
  .gendercard .female__card {
    background-image: linear-gradient(rgba(17, 17, 17, 0.715), rgba(133, 133, 133, 0.116)), url("../../images/female.jpg");
    background-size: cover;
    height: 40vh;
    color: #0C0C0C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
    margin-bottom: 8rem; }
    .gendercard .female__card .female__card___btn {
      background-color: transparent;
      border: 2px solid #FBFBFB;
      padding: 1.2rem 2rem;
      color: #FBFBFB;
      font-size: 2rem;
      font-weight: 600;
      display: inline-block;
      transition: all 0.3s; }
      .gendercard .female__card .female__card___btn:hover {
        background-color: #0C0C0C;
        transform: scale(1.3); }
  @media (max-width: 85em) {
    .gendercard html {
      font-size: 50%; } }

@media (max-width: 50em) {
  .gendercard {
    padding: 4rem; } }

@media (max-width: 50em) {
  .gendercard {
    padding: 4rem; } }

@media (max-width: 60em) {
  .gendercard {
    padding: 4rem; }
    .gendercard .about {
      margin-left: 9rem; } }

@media (max-width: 52em) {
  .gendercard {
    padding: 4rem; }
    .gendercard .mail__card {
      background-position: center; }
    .gendercard .female__card {
      background-position: center; }
    .gendercard .about {
      margin-left: 1rem; } }

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/******Reusable--grid*****/
.grid-4-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

/****************************************/
/************* Media queries  *************/
/****************************************/
@media (max-width: 85em) {
  html {
    font-size: 50%; } }

@media (max-width: 67em) {
  html {
    font-size: 40%; } }

@media (max-width: 43em) {
  html {
    font-size: 30%; } }

@media (max-width: 37em) {
  html {
    font-size: 20%; } }

.category {
  margin-bottom: 20rem;
  background-image: url("../../images/categorie.jpg");
  background-size: cover;
  color: #0C0C0C; }
  .category .category__about {
    font-size: 4rem;
    margin-left: 16rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    border-bottom: 2px solid black;
    display: inline-block;
    animation-name: toptobottom;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    backface-visibility: hidden;
    margin-bottom: 5rem;
    margin-top: 5rem; }
  .category .grid-3-col {
    text-align: center;
    margin-bottom: 3rem; }
  .category .grid-2-col {
    text-align: center;
    max-width: 70rem; }
  .category .product__tshirt {
    background-image: linear-gradient(rgba(17, 17, 17, 0.715), rgba(133, 133, 133, 0.116)), url("../../images/tshirt.jpg");
    height: 50vh;
    background-size: cover;
    margin-right: 3rem; }
    .category .product__tshirt .about {
      margin-top: 50%;
      transform: translate(0, -50%); }
      .category .product__tshirt .about .category__card {
        background-color: transparent;
        border: 2px solid #FBFBFB;
        padding: 1.2rem 2rem;
        color: #FBFBFB;
        font-size: 2rem;
        font-weight: 600;
        display: inline-block;
        transition: all 0.3s; }
        .category .product__tshirt .about .category__card:hover {
          background-color: #0C0C0C;
          transform: scale(1.3); }
  .category .product__shirt {
    background-image: linear-gradient(rgba(17, 17, 17, 0.715), rgba(133, 133, 133, 0.116)), url("../../images/shirt.jpg");
    height: 50vh;
    background-size: cover;
    margin-right: 3rem; }
    .category .product__shirt .about {
      margin-top: 50%;
      transform: translate(0, -50%); }
      .category .product__shirt .about .category__card {
        background-color: transparent;
        border: 2px solid #FBFBFB;
        padding: 1.2rem 2rem;
        color: #FBFBFB;
        font-size: 2rem;
        font-weight: 600;
        display: inline-block;
        transition: all 0.3s; }
        .category .product__shirt .about .category__card:hover {
          background-color: #0C0C0C;
          transform: scale(1.3); }
  .category .product__accessories {
    background-image: linear-gradient(rgba(17, 17, 17, 0.715), rgba(133, 133, 133, 0.116)), url("../../images/watch.jpg");
    height: 50vh;
    background-size: cover;
    margin-right: 3rem; }
    .category .product__accessories .about {
      margin-top: 50%;
      transform: translate(0, -50%); }
      .category .product__accessories .about .category__card {
        background-color: transparent;
        border: 2px solid #FBFBFB;
        padding: 1.2rem 2rem;
        color: #FBFBFB;
        font-size: 2rem;
        font-weight: 600;
        display: inline-block;
        transition: all 0.3s; }
        .category .product__accessories .about .category__card:hover {
          background-color: #0C0C0C;
          transform: scale(1.3); }
  .category .product__shoes {
    background-image: linear-gradient(rgba(17, 17, 17, 0.715), rgba(133, 133, 133, 0.116)), url("../../images/footwear.jpg");
    height: 50vh;
    background-size: cover;
    margin-right: 3rem; }
    .category .product__shoes .about {
      margin-top: 50%;
      transform: translate(0, -50%); }
      .category .product__shoes .about .category__card {
        background-color: transparent;
        border: 2px solid #FBFBFB;
        padding: 1.2rem 2rem;
        color: #FBFBFB;
        font-size: 2rem;
        font-weight: 600;
        display: inline-block;
        transition: all 0.3s; }
        .category .product__shoes .about .category__card:hover {
          background-color: #0C0C0C;
          transform: scale(1.3); }
  .category .product__trousers {
    background-image: linear-gradient(rgba(17, 17, 17, 0.715), rgba(133, 133, 133, 0.116)), url("../../images/trousers.jpg");
    height: 50vh;
    background-size: cover;
    margin-right: 2rem; }
    .category .product__trousers .about {
      margin-top: 50%;
      transform: translate(0, -50%); }
      .category .product__trousers .about .category__card {
        background-color: transparent;
        border: 2px solid #FBFBFB;
        padding: 1.2rem 2rem;
        color: #FBFBFB;
        font-size: 2rem;
        font-weight: 600;
        display: inline-block;
        transition: all 0.3s; }
        .category .product__trousers .about .category__card:hover {
          background-color: #0C0C0C;
          transform: scale(1.3); }

@keyframes toptobottom {
  0% {
    transform: translateY(-100px);
    opacity: 0; }
  80% {
    transform: translateY(20px); }
  100% {
    transform: translate(0px);
    opacity: 1; } }

@media (max-width: 49em) {
  .category {
    padding: 4rem; } }

@media (max-width: 57em) {
  .category .category__about {
    margin-left: 11rem;
    letter-spacing: 1px; } }

@media (max-width: 53em) {
  .category .category__about {
    margin-left: 7rem; } }

@media (max-width: 48em) {
  .category .category__about {
    margin-left: 2rem; } }

@media (max-width: 48em) {
  .category .product__tshirt, .category .product__shirt, .category .product__accessories, .category .product__shoes, .category .product__trousers {
    height: 30vh; } }

@media (max-width: 33em) {
  .category .product__tshirt, .category .product__shirt, .category .product__accessories, .category .product__shoes, .category .product__trousers {
    height: 25vh; } }

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/******Reusable--grid*****/
.grid-4-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

/****************************************/
/************* Media queries  *************/
/****************************************/
@media (max-width: 85em) {
  html {
    font-size: 50%; } }

@media (max-width: 67em) {
  html {
    font-size: 40%; } }

@media (max-width: 43em) {
  html {
    font-size: 30%; } }

@media (max-width: 37em) {
  html {
    font-size: 20%; } }

.aboutus {
  position: relative;
  background-color: #0C0C0C; }
  .aboutus .images {
    padding-top: 10rem;
    padding-bottom: 10rem; }
    .aboutus .images .image {
      background-image: linear-gradient(rgba(17, 17, 17, 0.715), rgba(133, 133, 133, 0.116)), url("../../images/wardrobe.jpg");
      height: 90vh;
      background-size: cover;
      position: relative; }
    .aboutus .images .Txt {
      color: #FBFBFB;
      text-align: center;
      margin-top: 15rem; }
      .aboutus .images .Txt .Txtheading {
        font-size: 4rem;
        margin-bottom: 4rem;
        letter-spacing: 2px; }
      .aboutus .images .Txt .txtabout {
        font-size: 2rem;
        text-transform: uppercase;
        line-height: 2;
        text-align: left;
        margin-left: 4rem;
        letter-spacing: 2px; }
  .aboutus .about {
    background-color: #FBFBFB;
    height: 20rem;
    width: 60rem;
    position: absolute;
    top: 30rem;
    margin-left: 2rem; }
    .aboutus .about p {
      font-size: 4rem;
      font-weight: 500;
      line-height: 1.5;
      text-transform: uppercase;
      letter-spacing: 4px;
      margin-top: 4rem; }

@media (max-width: 85em) {
  .aboutus .about {
    background-color: #FBFBFB;
    height: 25rem;
    width: 60rem;
    position: absolute;
    top: 30rem;
    margin-left: 2rem; }
    .aboutus .about p {
      font-size: 4rem;
      font-weight: 500;
      line-height: 1.5;
      text-transform: uppercase;
      letter-spacing: 4px;
      margin-top: 4rem;
      margin-left: 1rem; } }

@media (max-width: 50em) {
  .aboutus {
    padding: 4rem; }
    .aboutus .images .image {
      height: 60vh;
      margin-top: 20rem; }
    .aboutus .about {
      height: 30rem;
      width: 40rem;
      top: 60rem; }
      .aboutus .about p {
        font-size: 4rem;
        font-weight: 500;
        line-height: 1.5;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-top: 4rem; } }

@media (max-width: 37em) {
  .aboutus {
    padding: 4rem; }
    .aboutus .about {
      height: 55rem;
      width: 30rem; } }

@media (max-width: 25em) {
  .aboutus {
    padding: 4rem; }
    .aboutus .about {
      height: 50rem;
      width: 25rem; } }

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/******Reusable--grid*****/
.grid-4-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

/****************************************/
/************* Media queries  *************/
/****************************************/
@media (max-width: 85em) {
  html {
    font-size: 50%; } }

@media (max-width: 67em) {
  html {
    font-size: 40%; } }

@media (max-width: 43em) {
  html {
    font-size: 30%; } }

@media (max-width: 37em) {
  html {
    font-size: 20%; } }

.productlisting {
  display: flex;
  margin-top: 3rem;
  flex-direction: row; }
  .productlisting .sidebar {
    flex-basis: 20%; }
  .productlisting .Products_page {
    padding-left: 15rem;
    flex-basis: 80%;
    margin-left: 25rem; }
    .productlisting .Products_page .productname {
      font-size: 3rem;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 4rem;
      margin-top: 10rem; }
    .productlisting .Products_page .product__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-grow: 1; }
      .productlisting .Products_page .product__container .productdesc {
        margin-bottom: 3rem;
        margin-right: 10rem; }
        .productlisting .Products_page .product__container .productdesc .product__image img {
          height: 33rem;
          width: 25rem; }
        .productlisting .Products_page .product__container .productdesc .product__desc {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.7;
          text-transform: uppercase;
          margin-bottom: 1rem;
          color: #747474; }
        .productlisting .Products_page .product__container .productdesc .productprice {
          font-size: 1.5rem;
          font-weight: 900;
          text-transform: uppercase;
          margin-top: 2rem;
          margin-bottom: 1em;
          letter-spacing: 2px; }
        .productlisting .Products_page .product__container .productdesc .product__button {
          margin-bottom: 2rem; }
          .productlisting .Products_page .product__container .productdesc .product__button .primary {
            color: #FBFBFB;
            background-color: #0C0C0C;
            border: none;
            padding: 1.2rem 2.4rem;
            font-size: 1.2rem;
            font-weight: 500;
            margin-right: 3rem;
            display: inline; }
          .productlisting .Products_page .product__container .productdesc .product__button .secondary {
            color: #0C0C0C;
            background-color: #FBFBFB;
            border: 2px solid black;
            padding: 1.1rem 2.4rem;
            font-size: 1.2rem;
            font-weight: 500;
            display: inline-block; }

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/******Reusable--grid*****/
.grid-4-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

/****************************************/
/************* Media queries  *************/
/****************************************/
@media (max-width: 85em) {
  html {
    font-size: 50%; } }

@media (max-width: 67em) {
  html {
    font-size: 40%; } }

@media (max-width: 43em) {
  html {
    font-size: 30%; } }

@media (max-width: 37em) {
  html {
    font-size: 20%; } }

.sidebar {
  padding-top: 3rem;
  position: fixed;
  background-color: #0C0C0C;
  height: 100vh;
  color: #FBFBFB; }
  .sidebar h1 {
    text-transform: uppercase;
    margin-left: 2rem;
    font-size: 3rem;
    margin-bottom: 3rem;
    letter-spacing: 3px; }
  .sidebar .category_select {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #FBFBFB; }
    .sidebar .category_select .reset {
      display: inline-block;
      margin-top: 2rem;
      background-color: #0C0C0C;
      color: #FBFBFB;
      border: 2px solid #FBFBFB;
      padding: 1rem 2rem;
      width: 10rem; }
    .sidebar .category_select .Category__heading {
      font-size: 2rem;
      margin-bottom: 2rem;
      font-weight: 700;
      letter-spacing: 2px;
      padding-right: 2rem; }
  .sidebar .gender_select {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase; }
    .sidebar .gender_select .reset {
      display: inline-block;
      margin-top: 2rem;
      background-color: #0C0C0C;
      color: #FBFBFB;
      border: 2px solid #FBFBFB;
      padding: 1rem 2rem;
      width: 10rem; }
    .sidebar .gender_select .gender__heading {
      font-size: 2rem;
      margin-bottom: 2rem;
      font-weight: 700;
      letter-spacing: 2px;
      padding-right: 2rem;
      margin-top: 4rem; }

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/******Reusable--grid*****/
.grid-4-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

/****************************************/
/************* Media queries  *************/
/****************************************/
@media (max-width: 85em) {
  html {
    font-size: 50%; } }

@media (max-width: 67em) {
  html {
    font-size: 40%; } }

@media (max-width: 43em) {
  html {
    font-size: 30%; } }

@media (max-width: 37em) {
  html {
    font-size: 20%; } }

.error h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
  letter-spacing: 0.5rem; }

.error h2 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px; }

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/******Reusable--grid*****/
.grid-4-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

/****************************************/
/************* Media queries  *************/
/****************************************/
@media (max-width: 85em) {
  html {
    font-size: 50%; } }

@media (max-width: 67em) {
  html {
    font-size: 40%; } }

@media (max-width: 43em) {
  html {
    font-size: 30%; } }

@media (max-width: 37em) {
  html {
    font-size: 20%; } }

.App {
  margin-top: -1rem;
  margin-left: 1rem;
  margin-right: 1rem; }

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/******Reusable--grid*****/
.grid-4-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

/****************************************/
/************* Media queries  *************/
/****************************************/
@media (max-width: 85em) {
  html {
    font-size: 50%; } }

@media (max-width: 67em) {
  html {
    font-size: 40%; } }

@media (max-width: 43em) {
  html {
    font-size: 30%; } }

@media (max-width: 37em) {
  html {
    font-size: 20%; } }

.Cart {
  padding-top: 8rem;
  display: flex;
  color: #0C0C0C;
  margin-bottom: 2rem; }
  .Cart .cart_product {
    flex-basis: 70%; }
    .Cart .cart_product p {
      margin-bottom: 6rem;
      font-size: 4rem;
      text-transform: uppercase;
      letter-spacing: 5px;
      margin-left: 4rem;
      margin-top: 2rem; }
    .Cart .cart_product .product_desc {
      box-shadow: 0 0 35px rgba(116, 116, 116, 0.295);
      display: inline-block;
      background-color: #F4F4F4;
      margin: 0 auto;
      margin-bottom: 4rem;
      display: flex;
      max-width: 60rem; }
      .Cart .cart_product .product_desc .product_image img {
        height: 25rem; }
      .Cart .cart_product .product_desc .product_details {
        margin-left: 2rem;
        margin-top: 1rem; }
        .Cart .cart_product .product_desc .product_details .product_Name {
          font-size: 4rem;
          text-transform: uppercase;
          letter-spacing: 4px;
          margin-top: 4rem;
          margin-bottom: 1rem; }
        .Cart .cart_product .product_desc .product_details .product_price, .Cart .cart_product .product_desc .product_details .product_Brand {
          font-size: 1.5rem;
          text-transform: uppercase;
          margin-bottom: 0.7rem; }
        .Cart .cart_product .product_desc .product_details .Product_btn .btn {
          display: flex; }
          .Cart .cart_product .product_desc .product_details .Product_btn .btn .btn_increase {
            margin-right: 2rem;
            font-size: 2rem;
            text-transform: uppercase; }
            .Cart .cart_product .product_desc .product_details .Product_btn .btn .btn_increase button {
              background-color: transparent;
              border: 2px solid #0C0C0C;
              color: #0C0C0C;
              padding: 1rem; }
              .Cart .cart_product .product_desc .product_details .Product_btn .btn .btn_increase button:hover {
                background-color: #0C0C0C;
                color: #FBFBFB; }
          .Cart .cart_product .product_desc .product_details .Product_btn .btn .product_decrease {
            font-size: 2rem;
            text-transform: uppercase;
            letter-spacing: 2px; }
            .Cart .cart_product .product_desc .product_details .Product_btn .btn .product_decrease button {
              background-color: transparent;
              border: 2px solid #0C0C0C;
              color: #0C0C0C;
              padding: 1rem; }
              .Cart .cart_product .product_desc .product_details .Product_btn .btn .product_decrease button:hover {
                background-color: #0C0C0C;
                color: #FBFBFB; }
          .Cart .cart_product .product_desc .product_details .Product_btn .btn .product_delete {
            font-size: 2rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-left: 2rem; }
            .Cart .cart_product .product_desc .product_details .Product_btn .btn .product_delete button {
              background-color: transparent;
              border: 2px solid #0C0C0C;
              color: #0C0C0C;
              padding: 1rem; }
              .Cart .cart_product .product_desc .product_details .Product_btn .btn .product_delete button:hover {
                background-color: #0C0C0C;
                color: #FBFBFB; }
        .Cart .cart_product .product_desc .product_details .Product_btn .product_quantity {
          text-transform: uppercase;
          margin-top: 1rem;
          font-weight: 900;
          margin-bottom: 2rem;
          letter-spacing: 4px; }
  .Cart .cart_total {
    position: fixed;
    right: 10rem;
    margin-right: 4rem;
    margin-top: 10rem;
    padding: 1rem;
    text-align: left;
    font-size: 5rem;
    max-width: 100rem; }
    .Cart .cart_total .Cart_total_heading {
      margin-bottom: 6rem; }
    .Cart .cart_total .Total_quantity {
      font-size: 2rem;
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem; }
    .Cart .cart_total .SubTotal_price {
      font-size: 2rem;
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem; }
    .Cart .cart_total .Total_price {
      font-size: 2rem;
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem; }

@media (max-width: 36em) {
  .Cart .cart_product .product_desc {
    max-width: 42rem; }
  .Cart .cart_total {
    margin-right: -6rem;
    padding: 0;
    font-size: 1rem;
    margin-top: 45rem; } }

@media (max-width: 24em) {
  .Cart .cart_product .product_desc {
    max-width: 42rem;
    font-size: 1rem; }
  .Cart .cart_total {
    margin-right: -6rem;
    margin-left: 5rem;
    font-size: 0.5rem;
    margin-top: 42rem; } }

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/******Reusable--grid*****/
.grid-4-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

/****************************************/
/************* Media queries  *************/
/****************************************/
@media (max-width: 85em) {
  html {
    font-size: 50%; } }

@media (max-width: 67em) {
  html {
    font-size: 40%; } }

@media (max-width: 43em) {
  html {
    font-size: 30%; } }

@media (max-width: 37em) {
  html {
    font-size: 20%; } }

.review {
  height: auto;
  background-image: linear-gradient(rgba(12, 12, 12, 0.721), rgba(133, 133, 133, 0.741)), url("../../images/review.jpg");
  background-size: cover;
  padding-bottom: 4rem; }
  .review h2 {
    color: #FBFBFB;
    text-align: center;
    padding-top: 3rem;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 10px; }
  .review .review_data {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .review .review_data .review_card {
      background-color: rgba(255, 255, 255, 0.673);
      display: inline-block;
      margin-top: 2rem;
      max-width: 20rem;
      height: 20rem;
      margin-right: 2rem;
      box-shadow: 0 0 32px rgba(0, 0, 0, 0.571); }
      .review .review_data .review_card .review_name {
        margin-top: 2rem;
        margin-left: 2rem;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2px;
        text-align: left; }
      .review .review_data .review_card .review_about {
        margin-top: 2rem;
        margin-left: 2rem;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2px;
        text-align: left; }
  .review .review_form {
    background-color: #0c0c0c3a;
    margin-top: 1rem;
    color: #FBFBFB;
    padding-bottom: 4rem; }
    .review .review_form h2 {
      margin-top: -2rem;
      font-size: 2rem; }
    .review .review_form .name {
      display: inline-block;
      margin-top: 8rem;
      margin-left: 50%;
      transform: translate(-50%);
      margin-bottom: 4rem; }
    .review .review_form .review {
      display: inline-block;
      padding-top: 2rem;
      margin-left: 50%;
      transform: translate(-50%);
      margin-bottom: 2rem;
      height: auto;
      border: 2px solid #0C0C0C;
      padding: 4rem; }
    .review .review_form .submitBtn button {
      border: none;
      font-size: 2rem;
      background-color: #FBFBFB;
      font-weight: 500;
      padding: 1.2rem 2.4rem;
      margin-left: 50%;
      transform: translate(-50%);
      margin-bottom: 2rem; }

@media (max-width: 67em) {
  .review .review_data .review_card {
    max-width: 25rem;
    height: 25rem; } }

@media (max-width: 46em) {
  .review {
    height: auto; }
    .review .review_container {
      display: block; }
      .review .review_container .review_data .review_card {
        max-width: 40rem;
        height: 30rem; }
  .review_form {
    background-color: red; } }

@media (max-width: 41.375em) {
  .review {
    height: auto;
    background-image: linear-gradient(rgba(12, 12, 12, 0.721), rgba(133, 133, 133, 0.741)), url("../../images/review.jpg");
    background-size: cover;
    padding-bottom: 4rem; }
    .review h2 {
      color: #FBFBFB;
      text-align: center;
      padding-top: 3rem;
      font-size: 5rem;
      text-transform: uppercase;
      letter-spacing: 10px; }
    .review .review_data {
      display: block;
      justify-content: center;
      flex-wrap: wrap; }
      .review .review_data .review_card {
        background-color: rgba(255, 255, 255, 0.673);
        display: block;
        margin-top: 2rem;
        max-width: auto;
        overflow: hidden;
        height: auto;
        margin-right: 2rem;
        box-shadow: 0 0 32px rgba(0, 0, 0, 0.571); }
        .review .review_data .review_card .review_name {
          margin-top: 2rem;
          margin-left: 2rem;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 500;
          letter-spacing: 2px;
          text-align: left; }
        .review .review_data .review_card .review_about {
          margin-top: 2rem;
          margin-left: 2rem;
          font-size: 0.5rem;
          text-transform: uppercase;
          font-weight: 500;
          letter-spacing: 2px;
          text-align: left; }
    .review .review_form {
      background-color: #0c0c0c3a;
      margin-top: 1rem;
      color: #FBFBFB;
      padding-bottom: 4rem; }
      .review .review_form h2 {
        margin-top: -2rem;
        font-size: 2rem; }
      .review .review_form .name {
        display: inline-block;
        margin-top: 8rem;
        margin-left: 50%;
        transform: translate(-50%);
        margin-bottom: 4rem; }
      .review .review_form .review {
        display: inline-block;
        padding-top: 2rem;
        margin-left: 50%;
        transform: translate(-50%);
        margin-bottom: 2rem;
        height: auto;
        border: 2px solid #0C0C0C;
        padding: 4rem; }
      .review .review_form .submitBtn button {
        border: none;
        font-size: 2rem;
        background-color: #FBFBFB;
        font-weight: 500;
        padding: 1.2rem 2.4rem;
        margin-left: 50%;
        transform: translate(-50%);
        margin-bottom: 2rem; } }

@media (max-width: 25em) {
  .review {
    height: 100vh; }
    .review .review_container {
      display: block; }
      .review .review_container .review_data .review_card {
        max-width: 25rem;
        height: 40rem; }
        .review .review_container .review_data .review_card .review_name {
          font-size: 1rem; }
  .review_form {
    background-color: red; } }

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/******Reusable--grid*****/
.grid-4-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

/****************************************/
/************* Media queries  *************/
/****************************************/
@media (max-width: 85em) {
  html {
    font-size: 50%; } }

@media (max-width: 67em) {
  html {
    font-size: 40%; } }

@media (max-width: 43em) {
  html {
    font-size: 30%; } }

@media (max-width: 37em) {
  html {
    font-size: 20%; } }

.wishlist {
  padding-top: 8rem;
  display: flex;
  color: #0C0C0C;
  margin-bottom: 2rem; }
  .wishlist .wishlist_product {
    flex-basis: 70%; }
    .wishlist .wishlist_product p {
      margin-bottom: 6rem;
      font-size: 4rem;
      text-transform: uppercase;
      letter-spacing: 5px;
      margin-left: 4rem;
      margin-top: 2rem; }
    .wishlist .wishlist_product .product_desc {
      box-shadow: 0 0 35px rgba(116, 116, 116, 0.295);
      display: inline-block;
      background-color: #F4F4F4;
      margin: 0 auto;
      margin-bottom: 4rem;
      display: flex;
      max-width: 60rem; }
      .wishlist .wishlist_product .product_desc .product_image img {
        height: 25rem; }
      .wishlist .wishlist_product .product_desc .product_details {
        margin-left: 2rem;
        margin-top: 1rem; }
        .wishlist .wishlist_product .product_desc .product_details .product_Name {
          font-size: 4rem;
          text-transform: uppercase;
          letter-spacing: 4px;
          margin-top: 4rem;
          margin-bottom: 1rem; }
        .wishlist .wishlist_product .product_desc .product_details .product_price, .wishlist .wishlist_product .product_desc .product_details .product_Brand {
          font-size: 1.5rem;
          text-transform: uppercase;
          margin-bottom: 0.7rem; }
        .wishlist .wishlist_product .product_desc .product_details .Product_btn .btn {
          display: flex; }
          .wishlist .wishlist_product .product_desc .product_details .Product_btn .btn .product_delete {
            font-size: 2rem;
            text-transform: uppercase;
            letter-spacing: 2px; }
            .wishlist .wishlist_product .product_desc .product_details .Product_btn .btn .product_delete button {
              background-color: transparent;
              border: 2px solid #0C0C0C;
              color: #0C0C0C;
              padding: 1rem;
              margin-bottom: 2rem; }
              .wishlist .wishlist_product .product_desc .product_details .Product_btn .btn .product_delete button:hover {
                background-color: #0C0C0C;
                color: #FBFBFB; }

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/******Reusable--grid*****/
.grid-4-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

/****************************************/
/************* Media queries  *************/
/****************************************/
@media (max-width: 85em) {
  html {
    font-size: 50%; } }

@media (max-width: 67em) {
  html {
    font-size: 40%; } }

@media (max-width: 43em) {
  html {
    font-size: 30%; } }

@media (max-width: 37em) {
  html {
    font-size: 20%; } }

.footer {
  height: 50vh;
  background-color: #0C0C0C;
  color: #FBFBFB; }
  .footer h2 {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 2rem; }
  .footer .footer_items {
    margin: 0 auto;
    margin-top: 5rem;
    justify-items: center; }
    .footer .footer_items .left, .footer .footer_items .middle {
      margin-top: 5rem;
      margin-bottom: 5rem; }
      .footer .footer_items .left ul, .footer .footer_items .middle ul {
        list-style: none;
        color: #FBFBFB; }
        .footer .footer_items .left ul li, .footer .footer_items .middle ul li {
          margin-bottom: 2rem;
          text-transform: uppercase; }
          .footer .footer_items .left ul li a, .footer .footer_items .middle ul li a {
            color: #FBFBFB; }
            .footer .footer_items .left ul li a:link, .footer .footer_items .middle ul li a:link {
              text-decoration: none;
              font-size: 1rem;
              letter-spacing: 4px; }
    .footer .footer_items .right {
      margin-top: 5rem;
      margin-bottom: 5rem;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 4px; }
      .footer .footer_items .right .mail {
        margin-top: 4rem;
        margin-bottom: 3rem; }
      .footer .footer_items .right .address {
        line-height: 2.1; }

@media (max-width: 50em) {
  .footer {
    padding: 4rem; } }

@media (max-width: 34em) {
  .footer {
    flex-basis: 30% 30% 30%; } }

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/******Reusable--grid*****/
.grid-4-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto; }

/****************************************/
/************* Media queries  *************/
/****************************************/
@media (max-width: 85em) {
  html {
    font-size: 50%; } }

@media (max-width: 67em) {
  html {
    font-size: 40%; } }

@media (max-width: 43em) {
  html {
    font-size: 30%; } }

@media (max-width: 37em) {
  html {
    font-size: 20%; } }

.error_msg .content {
  padding: 2rem;
  color: #FBFBFB;
  position: fixed;
  top: 90px;
  background-color: #0C0C0C;
  z-index: 10;
  margin-left: 50%;
  transform: translate(-50%);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  border: 2px solid #0C0C0C; }

.hide {
  display: none; }

.show {
  display: block; }
