@import"./general";

$Neutral800:#0C0C0C;
$Neutral700:#2B2B2B;
$Neutral600:#747474;
$Neutral500:#858585;
$Neutral400:#E3E3E3;
$Neutral300:#F4F4F4;
$Neutral200:#FBFBFB;
$gradientdark:rgba(17, 17, 17, 0.715);
$gradientlight:rgba(133, 133, 133, 0.116);
.category{
    margin-bottom: 20rem;
    background-image:url("../../images/categorie.jpg");
    background-size: cover;
    color: $Neutral800;
    .category__about{
        font-size: 4rem;
        margin-left: 16rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 2rem;
        border-bottom: 2px solid black;
        display: inline-block;
        animation-name: toptobottom ;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        backface-visibility: hidden;
        margin-bottom: 5rem;
        margin-top: 5rem;
}
    .grid-3-col{
      
        text-align: center;
        margin-bottom: 3rem;
    }
    .grid-2-col{
        text-align: center;
        max-width: 70rem;
    }
    .product__tshirt{
        background-image:linear-gradient($gradientdark,$gradientlight), url("../../images/tshirt.jpg");
        height: 50vh;
        background-size: cover;
        margin-right: 3rem;
      
        .about{
            margin-top:50%;
            transform: translate(0,-50%);
            a{
                color:$Neutral200 ;
                border: 2px solid $Neutral200 ;
                padding: 1.2rem 2.4rem;
                font-size: 2rem;
                text-transform: uppercase;
                display: inline-block;
                transition: all 0.3s;
                &:link{
                    text-decoration: none;
                    background-color: transparent;
                   
                   
                }
                &:hover{
                    background-color: $Neutral800;
                    transform: scale(1.2);
                }
            }
        }
       
    }
    .product__shirt{
        background-image:linear-gradient($gradientdark,$gradientlight), url("../../images/shirt.jpg");
        height: 50vh;
        background-size: cover;
        margin-right: 3rem;
        .about{
            margin-top:50%;
            transform: translate(0,-50%);
            a{
                color:$Neutral200 ;
                border: 2px solid $Neutral200 ;
                padding: 1.2rem 2.4rem;
                font-size: 2rem;
                text-transform: uppercase;
                display: inline-block;
                transition: all 0.3s;
                &:link{
                    text-decoration: none;
                    background-color: transparent;
                   
                   
                }
                &:hover{
                    background-color: $Neutral800;
                    transform: scale(1.2);
                }
            }
        }
       
    }
    .product__accessories{
        background-image:linear-gradient($gradientdark,$gradientlight), url("../../images/watch.jpg");
        height: 50vh;
        background-size: cover;
        margin-right: 3rem;
        .about{
            margin-top:50%;
            transform: translate(0,-50%);
            a{
                color:$Neutral200 ;
                border: 2px solid $Neutral200 ;
                padding: 1.2rem 2.4rem;
                font-size: 2rem;
                text-transform: uppercase;
                display: inline-block;
                transition: all 0.3s;
                &:link{
                    text-decoration: none;
                    background-color: transparent;
                   
                   
                }
                &:hover{
                    background-color: $Neutral800;
                    transform: scale(1.2);
                }
            }
        }
       
    }
    .product__shoes{
        background-image:linear-gradient($gradientdark,$gradientlight), url("../../images/footwear.jpg");
        height: 50vh;
        background-size: cover;
        margin-right: 3rem;
        .about{
            margin-top:50%;
            transform: translate(0,-50%);
            a{
                color:$Neutral200 ;
                border: 2px solid $Neutral200 ;
                padding: 1.2rem 2.4rem;
                font-size: 2rem;
                text-transform: uppercase;
                display: inline-block;
                transition: all 0.3s;
                &:link{
                    text-decoration: none;
                    background-color: transparent;
                   
                   
                }
                &:hover{
                    background-color: $Neutral800;
                    transform: scale(1.2);
                }
            }
        }
       
    }
    
    .product__trousers{
        background-image:linear-gradient($gradientdark,$gradientlight), url("../../images/trousers.jpg");
        height: 50vh;
        background-size: cover;
        margin-right: 2rem;
        .about{
            margin-top:50%;
            transform: translate(0,-50%);
            a{
                color:$Neutral200 ;
                border: 2px solid $Neutral200 ;
                padding: 1.2rem 2.4rem;
                font-size: 2rem;
                text-transform: uppercase;
                display: inline-block;
                transition: all 0.3s;
                &:link{
                    text-decoration: none;
                    background-color: transparent;
                   
                   
                }
                &:hover{
                    background-color: $Neutral800;
                    transform: scale(1.2);
                }
            }
        }
       
    }
   

}

@keyframes toptobottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    80%{
        transform: translateY(20px);
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}