@import"./general";



.feature{
padding-top: 10rem;
font-size: 3rem;
color:$Neutral500;
background-color: $Neutral200;
padding-bottom: 8rem;
.feature__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    .feature__icon{
        margin-bottom: 2rem;
    }
    .feature__desc{
        font-size: 2rem;
        color:$Neutral700 ;
        text-transform: uppercase;
        font-weight: 600;
    }

}

}