@import'./general';
$Neutral800:#0C0C0C;
$Neutral700:#2B2B2B;
$Neutral600:#747474;
$Neutral500:#858585;
$Neutral400:#E3E3E3;
$Neutral300:#F4F4F4;
$Neutral200:#FBFBFB;

.App{

margin-top:-1rem;
margin-left: 1rem;
margin-right: 1rem;

}