@import"./general";


.header{
background-color: $Neutral200;
display: flex;
height: 8rem;
align-items: center;
color:$Neutral600;
position: fixed;
top: 0;
width: 100%;
z-index: 100;

.header__list{
    
    i{
        font-size: 3rem;
        color:$Neutral800 ;
        margin-left: 2rem;
        margin-top: 1.5rem;
        display: none;
    }
    ul{
        .list{
          button{
              background-color: transparent;
              border: none;
              font-size: 1.6rem;
              text-transform: uppercase;
              font-weight: 500;
              margin-right: 2rem;
          }
        }
    }
   
    
    .categoryshow{
        display: block;
    }
    .dropdown{
        display: flex;
        flex-direction: column;
        position: fixed;
        top:7rem;
        background-color: $Neutral200;
        left: 6rem;
       
       

        button{
            background-color:$Neutral200 ;
            border: none;
            margin-bottom: 1rem;
            font-size: 2rem;
            padding: 1rem;
            
            &:hover{
                color: $Neutral400 ;
            }
        }

        
        
        
    }
    .categorydrop{
        display: none;
    } 
   
   
    flex-basis: 25%;
    ul{
        display: flex;
        list-style: none;
       
        li{
            a{color:$Neutral800 ;
              &:link{
                margin-right: 2.3rem;
                text-transform: uppercase;
                font-size: 1.6rem;
                font-weight: 500;
                text-decoration: none;
                
              }
              &:hover{
                 color:$Neutral500 ;
              }
            }
            
        }
        li{
            &:first-child{
                margin-left: 1.8rem;
            }
        }
    }
}


.logo{
   color: $Neutral800;
    flex-basis: 50%;
    text-align: center;
    font-size: 4.3rem;
    text-transform:uppercase;
    letter-spacing:2rem;
    font-weight: 800;
}
.Header_right{
    flex-basis: 25%;
    text-align: center;
    display: flex;
    .searchicon{
        font-size: 2rem;
        color: $Neutral500;
        
        padding-right:1rem;
        background-color: white;
    }
    input{
        border: none;
        
    }
    .carticon{
        font-size: 2rem;
        color: $Neutral500;
         padding-left: 8rem;
         
         a{ 
             color: black;
             position: relative;
            
         }
    }

    .Wishlisticon{
        font-size: 2rem;
        color: $Neutral500;
         padding-left: 2rem;
         
         a{ 
             color: black;
             position: relative;
            
         }
    }


  

}


};

@media(max-width:60em){
    .header{
        .header__list{
           
            i{
                margin-top: 9rem;
                display: block;
                position: fixed;
                top: -6.5rem;
            }
            ul{
                display: none;
                background-color:$Neutral200 ;
                position:fixed;
                top: 8rem;
                padding: 10rem;
                height: 50vh;
                transform: translate();
               
                li{
                    
                    margin-bottom: 4rem;
                    
                    a{
                        color:$Neutral800 
                     
                     
                    }
                    
                }
                li{
                    &:first-child{
                        margin-left:0rem;
                    }
                }
                
            }
            .dropdown{
              margin-left:30rem;
              margin-top: 20rem;
            }

            .show{
                display: block;
            }
        }
    }



}






@media(max-width:52em){
    .Header_right{
        input{
           display: none;
            
        }
        .searchicon{
            display: none;
        }
    }
}

.categorydrop{
    display: block;
}