@import"./general";
$Neutral800:#0C0C0C;
$Neutral700:#2B2B2B;
$Neutral600:#747474;
$Neutral500:#858585;
$Neutral400:#E3E3E3;
$Neutral300:#F4F4F4;
$Neutral200:#FBFBFB;
$gradientdark:rgba(12, 12, 12, 0.693);
$gradientlight:rgba(133, 133, 133, 0.44);

.hero{
   background-image:linear-gradient( $gradientlight,$gradientdark) ,url(../../images/hero.jpg);
    background-size: cover;
    height: 84vh;
    color:$Neutral200 ;
  .herocontent{
     max-width:60rem;
     padding-top: 1%;
     .hero__heading{
         font-size: 15rem;
         margin-left: 5rem;
         text-transform: uppercase;
         letter-spacing: 10px;
         margin-bottom: 3rem;
         padding-top: 10rem;
         animation-name: lefttoright ;
         animation-duration: 1.5s;
         animation-timing-function: ease-out;
         backface-visibility: hidden;
         
     }
     .hero__about{
        font-size: 3rem;
        margin-left: 5.9rem;
        text-transform: uppercase;
        letter-spacing: 10px;
        line-height: 5rem;
        margin-bottom: 4rem;
        font-weight: 500;
        animation-name: righttoleft ;
         animation-duration: 1.5s;
         animation-timing-function: ease-out;
         backface-visibility: hidden;
     }

     .hero__primarybtn{
         .primary{
            margin-left: 5rem;
             border: 2px solid $Neutral200;
             padding: 2rem 4rem;
             background-color: transparent;
             color:$Neutral200 ;
             font-size: 2.5rem;
             font-weight: 400;
             transition: all 0.3s;
             animation-name: toptobottom ;
         animation-duration: 1.5s;
         animation-timing-function: ease-out;
         backface-visibility: hidden;
         text-decoration: none;
             &:hover{
                 background-color:$Neutral200 ;
                 color: black;
                 
                 
             }
             
         }
     }


  }
   

}



@keyframes lefttoright {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    80%{
        transform: translateX(20px);
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}

@keyframes righttoleft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    80%{
        transform: translateX(-20px);
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
@keyframes toptobottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    80%{
        transform: translateY(20px);
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}