@import"./general";
$Neutral800:#0C0C0C;
$Neutral700:#2B2B2B;
$Neutral600:#747474;
$Neutral500:#858585;
$Neutral400:#E3E3E3;
$Neutral300:#F4F4F4;
$Neutral200:#FBFBFB;
$gradientdark:rgba(12, 12, 12, 0.589);
$gradientlight:rgba(133, 133, 133, 0.44);
.productlisting{
  
    display: flex;
   margin-top: 3rem;
    flex-direction: row;
   

    .sidebar{
        flex-basis: 20%;
        
    }
    .Products_page{
       padding-left: 15rem;
       flex-basis: 80%;
        .productname{
            font-size: 3rem;
            font-weight: 700;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-bottom: 4rem;
        }
        .product__container{
            display: flex;
            flex-direction: row;
           
            flex-wrap: wrap;
            flex-grow: 1;
            .productdesc{
                
                margin-bottom: 3rem;
                margin-right: 10rem;
                .product__image{
                    img{
                        height: 50rem;
                        width: 35rem;
                        
                    }
                
                }
                .product__desc{
                    font-size: 1.2rem;
                    font-weight: 600;
                    line-height: 1.7;
                    text-transform: uppercase;
                    margin-bottom: 1rem;
                    color:  $Neutral600
                }
                .productprice{
                    font-size: 1.5rem;
                    font-weight: 900;
                    text-transform:uppercase;
                    margin-top: 2rem;
                    margin-bottom: 1em;
                    letter-spacing: 2px;
                   
                }
                .product__button{
                    margin-bottom: 2rem;
                    .primary{
                       color: $Neutral200;
                        background-color:$Neutral800 ;
                        border: none;
                        padding: 1.2rem 2.4rem;
                        font-size: 1.2rem;
                        font-weight: 500;
                        margin-right: 3rem;
                    }
                    .secondary{
                        color: $Neutral800;
                        background-color:$Neutral200 ;
                        border:2px solid black;
                        padding: 1.1rem 2.4rem;
                        font-size: 1.2rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }

}